@model SQLRubrica
@{
    ViewData["Title"] = "Rubrica";
}

<h1 class="text-center">
    @ViewData["Title"]
</h1>

<!--Tabella con contatti-->
<div class="container">
    <div class="row">
        <div class="col">
            @using (Html.BeginForm("MostraContatti", "Rubrica", FormMethod.Post))
            {
                foreach (var e in @Model._DBRubrica.PersoneList)
                {
                    <div class="row">
                        <button class="btn btn-outline-secondary" name="numero" value="@e.Numero"
                                data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"
                                formaction="@Url.Action("MostraContatti", "Rubrica")">
                            <div class="col">
                                @e.Cognome
                            </div>
                            <div class="col">
                                @e.Nome
                            </div>
                        </button>
                    </div>
                }
            }
        </div>
    </div>

<!--Lista dei recapiti a scomparsa-->
    @if (Model._DBRubrica.PersonaAttuale != null) {
        Thread.Sleep(100);
        <div class="offcanvas offcanvas-end show" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">

            <div class="offcanvas-header">
                <h5 id="offcanvasRightLabel">Lista dei Recapiti</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <div class="offcanvas-body">
                @{
                    ListRecapito lc = Model._DBRubrica.PersonaAttuale.ContattiFiltrati;

                    foreach (Recapito item in lc)
                    {
                        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                            <div class="card-header">@item.Tipo</div>
                            <div class="card-body">
                                <h5 class="card-title">@item.Valore</h5>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    }
</div>
