@model Db
@{
    ViewData["Title"] = "Rubrica";
}

<h1 class="text-center">
    @ViewData["Title"]
</h1>

<div class="container">

    <!--Tabella con contatti-->
    <div class="row">
        <div class="col">
            <form asp-controller="Rubrica" asp-action="MostraContatti" method="post">
                @foreach (var e in @Model.Persone)
                {
                    <div class="row">
                        <button type="submit" name="numero" value="@e.PersonaId" class="btn btn-outline-secondary mb-1">
                            <div class="col">
                                @e.Cognome
                            </div>
                            <div class="col">
                                @e.Nome
                            </div>
                        </button>
                    </div>
                }
            </form>

            <div class="row">
                <!--Aggiunta Contatto-->
                <div class="col d-flex">
                    @Html.Partial("~/Views/RubricaAddon/Contatti/AggiungiContatto.cshtml", new Persona())

                <!--Rimozione Contatto-->
                    @Html.Partial("~/Views/RubricaAddon/Contatti/RimuoviContatto.cshtml", Model)
                </div>
            </div>
            
        </div>
    </div>

    <!--Recapiti della persona-->
    @Html.Partial("~/Views/RubricaAddon/Recapiti/VisualizzazioneRecapiti.cshtml", null)

</div>
