@model Db

<form asp-controller="Rubrica" asp-action="MostraRimuoviContatto" method="post">
    <button type="submit" class="btn btn-danger m-3">Rimuovi Contatto</button>
</form>

@if (VariabiliGlobali._Rimuovi)
{
    <div class="offcanvas offcanvas-end show" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-body">
            <form asp-controller="Rubrica" asp-action="RimuoviContatto" method="post">

                @foreach (var e in @Model.Persone)
                {
                    <div class="row">
                        <div class="col col-sm-1">
                            <input type="radio" id="@e.PersonaId" name="SelezioneContatto" value="@e.PersonaId">
                        </div>
                        <div class="col">
                            <label for="@e.PersonaId">
                                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                                    <div class="card-header">
                                        @e.Nome @e.Cognome
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>
                }
                <button type="submit" class="btn btn-danger">Rimuovi contatto</button>
            </form>
        </div>
    </div>
}